<p id="notice"><%= notice %></p>

<p>
  <b>Enq:</b>
  <%= @enq_question.enq_id %>
</p>

<p>
  <b>Num:</b>
  <%= @enq_question.num %>
</p>

<p>
  <b>Question:</b>
  <%= @enq_question.question_id %>
</p>

<p>
  <b>Update name:</b>
  <%= @enq_question.update_name %>
</p>

<p>
  <b>Update date:</b>
  <%= @enq_question.update_date %>
</p>


<%= link_to 'Edit', edit_enq_question_path(@enq_question) %> |
<%= link_to 'Back', enq_questions_path %>
