<h1>Listing questions</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Kind</th>
    <th>Title</th>
    <th>Content</th>
    <th>Required</th>
    <th>Answer content</th>
    <th>Answer description</th>
    <th>Update name</th>
    <th>Update date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.question_id %></td>
    <td><%= question.kind %></td>
    <td><%= question.title %></td>
    <td><%= question.content %></td>
    <td><%= question.required %></td>
    <td><%= question.answer_content %></td>
    <td><%= question.answer_description %></td>
    <td><%= question.update_name %></td>
    <td><%= question.update_date %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
