<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @question.question_id %>
</p>

<p>
  <b>Kind:</b>
  <%= @question.kind %>
</p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Content:</b>
  <%= @question.content %>
</p>

<p>
  <b>Required:</b>
  <%= @question.required %>
</p>

<p>
  <b>Answer content:</b>
  <%= @question.answer_content %>
</p>

<p>
  <b>Answer description:</b>
  <%= @question.answer_description %>
</p>

<p>
  <b>Update name:</b>
  <%= @question.update_name %>
</p>

<p>
  <b>Update date:</b>
  <%= @question.update_date %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
