<p id="notice"><%= notice %></p>

<p>
  <b>First page ID:</b>
  <%= @enq.first_page_id %>
</p>

<p>
  <b>Css:</b>
  <%= @enq.css %>
</p>

<p>
  <b>Movie:</b>
  <%= @enq.movie %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @enq.thumbnail %>
</p>

<p>
  <b>Title:</b>
  <%= @enq.title %>
</p>

<p>
  <b>Result:</b>
  <%= @enq_result %>
</p>

<%= link_to 'Back', enqs_path %>
