<h1>Listing enqs</h1>

<table>
  <tr>
    <th>Enq</th>
    <th>Page</th>
    <th>First page</th>
    <th>Status</th>
    <th>Title</th>
    <th>Description</th>
    <th>Css</th>
    <th>Movie</th>
    <th>Thumbnail</th>
    <th>Update name</th>
    <th>Update date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enqs.each do |enq| %>
  <tr>
    <td><%= enq.enq_id %></td>
    <td><%= enq.page_id %></td>
    <td><%= enq.first_page_id %></td>
    <td><%= enq.status %></td>
    <td><%= enq.title %></td>
    <td><%= enq.description %></td>
    <td><%= enq.css %></td>
    <td><%= enq.movie %></td>
    <td><%= enq.thumbnail %></td>
    <td><%= enq.update_name %></td>
    <td><%= enq.update_date %></td>
    <td><%= link_to 'Show', enq %></td>
    <td><%= link_to 'Edit', edit_enq_path(enq) %></td>
    <td><%= link_to 'Destroy', enq, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enq', new_enq_path %>
