<p id="notice"><%= notice %></p>

<p>
  <b>Enq:</b>
  <%= @enq.enq_id %>
</p>

<p>
  <b>First page:</b>
  <%= @enq.first_page_id %>
</p>

<p>
  <b>Status:</b>
  <%= @enq.status %>
</p>

<p>
  <b>Title:</b>
  <%= @enq.title %>
</p>

<p>
  <b>Description:</b>
  <%= @enq.description %>
</p>

<p>
  <b>Css:</b>
  <%= @enq.css %>
</p>

<p>
  <b>Movie:</b>
  <%= @enq.movie %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @enq.thumbnail %>
</p>

<p>
  <b>Update name:</b>
  <%= @enq.update_name %>
</p>

<p>
  <b>Update date:</b>
  <%= @enq.update_date %>
</p>

<%= link_to 'getEnq', getEnq_enq_path %>
<%= link_to 'Destroy', @enq, confirm: 'Are you sure?', method: :delete %>
<%= link_to 'Edit', edit_enq_path(@enq) %> |
<%= link_to 'Back', enqs_path %>
