<%= form_for(@branch) do |f| %>
  <% if @branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
      <% @branch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :enq_id %><br />
    <%= f.number_field :enq_id %>
  </div>
  <div class="field">
    <%= f.label :num %><br />
    <%= f.number_field :num %>
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :next_page_id %><br />
    <%= f.number_field :next_page_id %>
  </div>
  <div class="field">
    <%= f.label :update_name %><br />
    <%= f.text_field :update_name %>
  </div>
  <div class="field">
    <%= f.label :update_date %><br />
    <%= f.date_select :update_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
