<h1>Listing branches</h1>

<table>
  <tr>
    <th>Enq</th>
    <th>Num</th>
    <th>Answer</th>
    <th>Next page</th>
    <th>Update name</th>
    <th>Update date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @branches.each do |branch| %>
  <tr>
    <td><%= branch.enq_id %></td>
    <td><%= branch.num %></td>
    <td><%= branch.answer %></td>
    <td><%= branch.next_page_id %></td>
    <td><%= branch.update_name %></td>
    <td><%= branch.update_date %></td>
    <td><%= link_to 'Show', branch %></td>
    <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
    <td><%= link_to 'Destroy', branch, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Branch', new_branch_path %>
