<h1>Listing branches</h1>

<table>
  <tr>
    <th>Enq</th>
    <th>Num</th>
    <th>Answer</th>
    <th>Page</th>
    <th>Update name</th>
    <th>Update date</th>
  </tr>

<% @branches.each do |branch| %>
  <tr>
    <td><%=h branch.enq_id %></td>
    <td><%=h branch.num %></td>
    <td><%=h branch.answer %></td>
    <td><%=h branch.page_id %></td>
    <td><%=h branch.update_name %></td>
    <td><%=h branch.update_date %></td>
    <td><%= link_to 'Show', branch %></td>
    <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
    <td><%= link_to 'Destroy', branch, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New branch', new_branch_path %>