<p>
  <b>Enq:</b>
  <%=h @branch.enq_id %>
</p>

<p>
  <b>Num:</b>
  <%=h @branch.num %>
</p>

<p>
  <b>Answer:</b>
  <%=h @branch.answer %>
</p>

<p>
  <b>Page:</b>
  <%=h @branch.page_id %>
</p>

<p>
  <b>Update name:</b>
  <%=h @branch.update_name %>
</p>

<p>
  <b>Update date:</b>
  <%=h @branch.update_date %>
</p>


<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>