<p>
  <b>Enq:</b>
  <%=h @branche.enq_id %>
</p>

<p>
  <b>Num:</b>
  <%=h @branche.num %>
</p>

<p>
  <b>Answer:</b>
  <%=h @branche.answer %>
</p>

<p>
  <b>Page:</b>
  <%=h @branche.page_id %>
</p>

<p>
  <b>Update name:</b>
  <%=h @branche.update_name %>
</p>

<p>
  <b>Update date:</b>
  <%=h @branche.update_date %>
</p>


<%= link_to 'Edit', edit_branche_path(@branche) %> |
<%= link_to 'Back', branches_path %>