<p id="notice"><%= notice %></p>

<p>
  <b>Enq:</b>
  <%= @branch.enq_id %>
</p>

<p>
  <b>Num:</b>
  <%= @branch.num %>
</p>

<p>
  <b>Answer:</b>
  <%= @branch.answer %>
</p>

<p>
  <b>Next page:</b>
  <%= @branch.next_page_id %>
</p>

<p>
  <b>Update name:</b>
  <%= @branch.update_name %>
</p>

<p>
  <b>Update date:</b>
  <%= @branch.update_date %>
</p>


<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
