<p>
  <b>Enq:</b>
  <%=h @answer.enq_id %>
</p>

<p>
  <b>Num:</b>
  <%=h @answer.num %>
</p>

<p>
  <b>Answer:</b>
  <%=h @answer.answer %>
</p>

<p>
  <b>Update name:</b>
  <%=h @answer.update_name %>
</p>

<p>
  <b>Update date:</b>
  <%=h @answer.update_date %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>