<h1>Editing enq_page</h1>

<% form_for(@enq_page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :enq_id %><br />
    <%= f.text_field :enq_id %>
  </p>
  <p>
    <%= f.label :page_id %><br />
    <%= f.text_field :page_id %>
  </p>
  <p>
    <%= f.label :face %><br />
    <%= f.text_field :face %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :interval %><br />
    <%= f.text_field :interval %>
  </p>
  <p>
    <%= f.label :update_name %><br />
    <%= f.text_field :update_name %>
  </p>
  <p>
    <%= f.label :update_date %><br />
    <%= f.date_select :update_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @enq_page %> |
<%= link_to 'Back', enq_pages_path %>