<p id="notice"><%= notice %></p>

<p>
  <b>Enq ID:</b>
  <%= @enq_page.enq_id %>
</p>

<p>
  <b>Page ID:</b>
  <%= @enq_page.css %>
</p>

<p>
  <b>Description:</b>
  <%= @enq_page.description %>
</p>

<p>
  <b>Question Num:</b>
  <!--<%= @enq_page.questions.num %>-->
</p>

<p>
  <b>Question Cnt:</b>
  <%= @enq_page.questions.cnt %>
</p>

<p>
  <b>Wait Until:</b>
  <%= @enq_page.wait_until %>
</p>

<p>
  <b>Question:</b>
  <!--<%= @enq_page.question %>-->
</p>

<p>
  <b>Sequence:</b>
  <%= @enq_page.seq %>
</p>

<p>
  <b>Kind:</b>
  <%= @enq_page.kind %>
</p>

<p>
  <b>Title:</b>
  <%= @enq_page.title %>
</p>

<p>
  <b>Content:</b>
  <%= @enq_page.content %>
</p>

<p>
  <b>Required:</b>
  <%= @enq_page.required %>
</p>

<p>
  <b>Choice:</b>
  <!--<%= @enq_page.choice %>-->
</p>

<p>
  <b>Choice ID:</b>
  <%= @enq_page.choice_id %>
</p>

<p>
  <b>Content:</b>
  <%= @enq_page.content %>
</p>

<p>
  <b>Branch:</b>
  <!--<%= @enq_page.branch %>-->
</p>

<p>
  <b>Answer:</b>
  <%= @enq_page.answer %>
</p>

<p>
  <b>Next page ID:</b>
  <%= @enq_page.next_page_id %>
</p>

<p>
  <b>Answer:</b>
  <!--<%= @enq_page.answer %>-->
</p>

<p>
  <b>Content:</b>
  <%= @enq_page.content %>
</p>

<p>
  <b>Description:</b>
  <%= @enq_page.description %>
</p>

<p>
  <b>Next page ID:</b>
  <%= @enq_page.next_page_id %>
</p>

<p>
  <b>Result:</b>
  <%= @enq_page_result %>
</p>

<%= link_to 'Back', enqs_path %>
