<h1>Listing enq_pages</h1>

<table>
  <tr>
    <th>Enq</th>
    <th>Page</th>
    <th>Face</th>
    <th>Description</th>
    <th>Wait until</th>
    <th>Next page</th>
    <th>Update name</th>
    <th>Update date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enq_pages.each do |enq_page| %>
  <tr>
    <td><%= enq_page.enq_id %></td>
    <td><%= enq_page.page_id %></td>
    <td><%= enq_page.face %></td>
    <td><%= enq_page.description %></td>
    <td><%= enq_page.wait_until %></td>
    <td><%= enq_page.next_page_id %></td>
    <td><%= enq_page.update_name %></td>
    <td><%= enq_page.update_date %></td>
    <td><%= link_to 'Show', enq_page %></td>
    <td><%= link_to 'Edit', edit_enq_page_path(enq_page) %></td>
    <td><%= link_to 'Destroy', enq_page, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enq page', new_enq_page_path %>
