<p id="notice"><%= notice %></p>

<p>
  <b>Enq:</b>
  <%= @enq_page.enq_id %>
</p>

<p>
  <b>Page:</b>
  <%= @enq_page.page_id %>
</p>

<p>
  <b>Face:</b>
  <%= @enq_page.face %>
</p>

<p>
  <b>Description:</b>
  <%= @enq_page.description %>
</p>

<p>
  <b>Wait until:</b>
  <%= @enq_page.wait_until %>
</p>

<p>
  <b>Next page:</b>
  <%= @enq_page.next_page_id %>
</p>

<p>
  <b>Update name:</b>
  <%= @enq_page.update_name %>
</p>

<p>
  <b>Update date:</b>
  <%= @enq_page.update_date %>
</p>


<%= link_to 'Edit', edit_enq_page_path(@enq_page) %> |
<%= link_to 'Back', enq_pages_path %>
