<%= form_for(@enq_face) do |f| %>
  <% if @enq_face.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enq_face.errors.count, "error") %> prohibited this enq_face from being saved:</h2>

      <ul>
      <% @enq_face.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :enq_id %><br />
    <%= f.number_field :enq_id %>
  </div>
  <div class="field">
    <%= f.label :face %><br />
    <%= f.text_field :face %>
  </div>
  <div class="field">
    <%= f.label :first_page_id %><br />
    <%= f.number_field :first_page_id %>
  </div>
  <div class="field">
    <%= f.label :wait_until %><br />
    <%= f.time_select :wait_until %>
  </div>
  <div class="field">
    <%= f.label :css %><br />
    <%= f.text_field :css %>
  </div>
  <div class="field">
    <%= f.label :update_name %><br />
    <%= f.text_field :update_name %>
  </div>
  <div class="field">
    <%= f.label :update_date %><br />
    <%= f.date_select :update_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
