<h1>Listing enq_faces</h1>

<table>
  <tr>
    <th>Enq</th>
    <th>Face</th>
    <th>First page</th>
    <th>Wait until</th>
    <th>Css</th>
    <th>Update name</th>
    <th>Update date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enq_faces.each do |enq_face| %>
  <tr>
    <td><%= enq_face.enq_id %></td>
    <td><%= enq_face.face %></td>
    <td><%= enq_face.first_page_id %></td>
    <td><%= enq_face.wait_until %></td>
    <td><%= enq_face.css %></td>
    <td><%= enq_face.update_name %></td>
    <td><%= enq_face.update_date %></td>
    <td><%= link_to 'Show', enq_face %></td>
    <td><%= link_to 'Edit', edit_enq_face_path(enq_face) %></td>
    <td><%= link_to 'Destroy', enq_face, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enq face', new_enq_face_path %>
