<h1>New choice</h1>

<% form_for(@choice) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question_id %><br />
    <%= f.text_field :question_id %>
  </p>
  <p>
    <%= f.label :choice_id %><br />
    <%= f.text_field :choice_id %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :update_name %><br />
    <%= f.text_field :update_name %>
  </p>
  <p>
    <%= f.label :update_date %><br />
    <%= f.date_select :update_date %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', choices_path %>